body {
    margin: 0;
    padding: 0;
}

.profile-photo {
    width: 150px;
    height: 150px;
    border-radius: 20px;
    object-fit: cover;
    position: fixed;
    top: 20px;
    right: 20px;
    display: block;
    margin-bottom: 5px;
   
    z-index: 10;
}

.kathleen-name {
    font-family: 'Montserrat', 'Arial', sans-serif;
    font-size: 1.8rem;
    font-weight: 700;
    color: #FF69B4;
    position: fixed;
    top: 180px;
    right: 20px;
    z-index: 10;
}
