body {
    margin: 0;
    padding: 0;
}

.profile-photo {
    width: 150px;
    height: 150px;
    border-radius: 20px;
    object-fit: cover;
    position: fixed;
    top: 20px;
    right: 20px;
    display: block;
    margin-bottom: 5px;
   
    z-index: 10;
}

.yuchingkao-name {
    font-family: 'Montserrat', 'Arial', sans-serif;
    font-size: 1.8rem;
    font-weight: 700;
    color: #FF69B4;
    position: fixed;
    top: 180px;
    right: 20px;
    z-index: 10;
}


  
  .johara-name {
    position: absolute;
    bottom: -10px;
    font-family: 'Cherry Bomb One', cursive;
    font-size: 3.5rem;
    color: #b98cff;
    text-align: center;
    z-index: 10;
    -webkit-text-stroke: 6px white;
    paint-order: stroke fill;
  }
  .johara-hamster {
    width: 100px;     
    height: auto;
    grid-area: 1 / 1;  
    z-index: 5;      
    margin-bottom: 10px; 
  }
  
  
  /* END of Johara */
  