@import url('https://fonts.googleapis.com/css2?family=Carter+One&family=Open+Sans:wght@300&family=Outfit&family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lobster&family=Pacifico&family=Passion+One&family=Rubik:ital,wght@0,400;0,700;0,900;1,400&family=Schoolbell&family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@400;600&family=Honk&family=Onest&family=Open+Sans:wght@300;400&family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Lugrasimo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nabla&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Jersey+10&display=swap');

body {
    background: #155984;
    color: #121015;
    font-family: "Raleway", sans-serif;
}

header {
    background: #edf6f9;
    text-align: center;
    padding: 40px;
}

header h1 {
    font-weight: 300;
    font-size: 24px;
}

.hyelim {
  font-family: 'Changa One', cursive;
  font-size: 48px;
  color: #7209B7;
}

p {
    margin-bottom: 20px;
}

main {
    background: #edf6f9;
    padding: 20px;
}

main div {
    background: #c0e297;
    padding: 20px;
    margin-bottom: 10px;
    text-align: center;
}

h2 {
    color: rgb(192, 111, 192);
    font-family: cursive;
    font-size: 80px;
}

.ShuoyanMA{
    font-family: "Rye", serif;
    font-weight: 400;
    font-size: 30px;
    color: #000000;
}

.daisy {
    font-family: "Moo Lah Lah", sans-serif;
    font-size: 30px;
    color:#c6613c;
}

.bebas-neue-regular {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.renachen {
    font-family: 'Grand Hotel';
    font-size: 24px;
    color:#0CABA8;
}

#wiljay {
    font-family: "Fredericka the Great", serif;
    font-size: 40px;
    width: 110px;
    height: 40px;
    animation: scan-wiljay 2s ease-in infinite alternate-reverse;
}

@keyframes scan-wiljay {
    0% {clip-path: polygon(0% 0%, 20% 0%, 20% 100%, 0% 100%);}
    60% {clip-path: polygon(80% 0%, 100% 0%, 100% 100%, 80% 100%);}
    80% {clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);}
    100% {clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);}
}

.pitch {
    font-family: "Audiowide", sans-serif;
    font-size: 32px;
    color: deeppink;
}

#serin{
    font-size: 45px;
    color: #0CABA8;
}
#ramisha{
    font-family: "Playwrite NZ Basic", cursive;
    font-weight: 400;
    font-size: 36px;
    font-style: normal;
    color: #7209B7;
}

#christine {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 25px;
    color: #2f6fe7;
}

#hannah{
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 30px;
    color: #41e72f;
}

footer {
    font-weight: 600;
    text-align: center;
    background: #e2f0c4;
    color: #e29578;
    padding: 40px;
    border-top: 2px solid #e29578;

}

@media (min-width: 650px) {
    main {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    main p {
        width: 100%;
    }

    main div {
        width: calc(33.3333% - 50px);
    }

    .waheed-name {
        font-family: "Nabla", system-ui;
        font-optical-sizing: auto;
    }

    .name-wrapper {
        display: flex;
        align-items: center;
        gap: 12px;
    }

    .profile-img {
        width: 24px;
        height: 24px;
        object-fit: cover;
        border-radius: 50%;
    }

}

main h1{
  font-family: "Playfair Display", Georgia, serif;
  font-size: 32px;
  letter-spacing: 0.08em;
  color: #ff00dd;
}

