@import url('https://fonts.googleapis.com/css2?family=Carter+One&family=Open+Sans:wght@300&family=Outfit&family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lobster&family=Pacifico&family=Passion+One&family=Rubik:ital,wght@0,400;0,700;0,900;1,400&family=Schoolbell&family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@400;600&family=Honk&family=Onest&family=Open+Sans:wght@300;400&family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Lugrasimo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');
@import url("https://use.typekit.net/lax8qsq.css");

body {
    background: #155984;
    color: #121015;
    font-family: "Raleway", sans-serif;
}

header {
    background: #edf6f9;
    text-align: center;
    padding: 40px;
}

header h1 {
    font-weight: 300;
    font-size: 24px;
}

p {
    margin-bottom: 20px;
}

main {
    background: #edf6f9;
    padding: 20px;
}

main div {
    background: #d3d6f5;
    padding: 20px;
    margin-bottom: 10px;
    text-align: center;
    border-radius: 50px;
}

main div h1{
    font-family: "green-fairy-dots-combo", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 40px;
    color: rgb(133, 18, 68);
}

main div img{
    height: 500px;
    border-radius: 50px;
    margin: 30px 0px;
}

footer {
    font-weight: 600;
    text-align: center;
    background: #e2f0c4;
    color: #e29578;
    padding: 40px;
    border-top: 2px solid #e29578;

}

@media (min-width: 650px) {
    main {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    main p {
        width: 100%;
    }

    main div {
        width: calc(33.3333% - 50px);
    }
}